[package]
name = "opentelemetry-etw-logs"
description = "OpenTelemetry logs exporter to ETW (Event Tracing for Windows)"
version = "0.7.0"
edition = "2021"
homepage = "https://github.com/open-telemetry/opentelemetry-rust-contrib/tree/main/opentelemetry-etw-logs"
repository = "https://github.com/open-telemetry/opentelemetry-rust-contrib/tree/main/opentelemetry-etw-logs"
readme = "README.md"
rust-version = "1.75.0"
keywords = ["opentelemetry", "log", "trace", "etw"]
license = "Apache-2.0"

[dependencies]
tracelogging = "1.2.1"
tracelogging_dynamic = "1.2.1"
opentelemetry = { workspace = true, features = ["logs"] }
opentelemetry_sdk = { workspace = true, features = ["logs"] }
serde_json = "1.0.113"

[dev-dependencies]
opentelemetry-appender-tracing = { workspace = true }
tokio = { version = "1.0", features = ["full"] }
tracing = { version = "0.1", default-features = false, features = ["std"] }
tracing-core = "0.1.31"
tracing-subscriber = { version = "0.3.0", default-features = false, features = [
    "registry",
    "std",
] }
microbench = "0.5"

[features]
spec_unstable_logs_enabled = [
    "opentelemetry/spec_unstable_logs_enabled",
    "opentelemetry_sdk/spec_unstable_logs_enabled",
]
default = []

[[example]]
name = "basic"
path = "examples/basic.rs"

[lints]
workspace = true
