[workspace]
members = [
    "opentelemetry-*",
    "examples/*",
]
exclude = [
    "opentelemetry-dynatrace",
    "opentelemetry-datadog",
    "opentelemetry-stackdriver",
    "opentelemetry-zpages"
]
resolver = "2"

[profile.bench]
# https://doc.rust-lang.org/cargo/reference/profiles.html#bench
# See function names in profiling reports.
# 2/true is too much, 0 is not enough, 1 is just right for back traces
debug = 1

[workspace.dependencies]
opentelemetry = "0.23"
opentelemetry-appender-tracing = "0.4"
opentelemetry-http = "0.12"
opentelemetry-proto = { version = "0.6", default-features = false }
opentelemetry_sdk = { version = "0.23", default-features = false }
opentelemetry-stdout = "0.4"
opentelemetry-semantic-conventions = "0.15"
