[graph]
exclude=[
    "actix-http",
    "actix-http-tracing",
    "actix-udp",
    "actix-udp-example",
    "tracing-grpc",
    "http",
    "protobuf" # actix-web-opentelemetry depends on prometheus should try to remove it
]

[licenses]
allow = [
    "MIT",
    "Apache-2.0",
    "ISC",
    "BSD-3-Clause",
    "OpenSSL"
]

[licenses.private]
ignore = true

[[licenses.clarify]]
name = "ring"
version = "*"
expression = "MIT AND ISC AND OpenSSL"
license-files = [
    { path = "LICENSE", hash = 0xbd0eed23 }
]

[advisories]
ignore = [
    "RUSTSEC-2024-0408" # pprof bumped in a separate PR
]
unmaintained = "none"
yanked = "allow"