[package]
name = "opentelemetry-aws"
version = "0.16.0"
description = "AWS exporters and propagators for OpenTelemetry"
homepage = "https://github.com/open-telemetry/opentelemetry-rust-contrib/tree/main/opentelemetry-aws"
repository = "https://github.com/open-telemetry/opentelemetry-rust-contrib/tree/main/opentelemetry-aws"
readme = "README.md"
categories = [
    "development-tools::debugging",
    "development-tools::profiling",
]
keywords = ["opentelemetry", "tracing"]
license = "Apache-2.0"
edition = "2021"
rust-version = "1.75.0"

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[features]
default = ["trace", "internal-logs"]
trace = ["opentelemetry/trace", "opentelemetry_sdk/trace"]
detector-aws-lambda = ["dep:opentelemetry-semantic-conventions"]
internal-logs = ["tracing"]

[dependencies]
opentelemetry = { version = "0.28" }
opentelemetry_sdk = { version = "0.28", optional = true }
opentelemetry-semantic-conventions = { version = "0.28", optional = true }
tracing = {version = "0.1", optional = true}

[dev-dependencies]
opentelemetry_sdk = { version = "0.28", features = ["testing"] }
opentelemetry-http = { version = "0.28" }
opentelemetry-stdout = { version = "0.28", features = ["trace"] }
hyper = { version = "1.4.1" }
tokio = { version = "1.0", features = ["macros", "rt"] }
sealed_test = "1.1"
temp-env = "0.3"

[package.metadata.cargo-machete]
ignored = ["tracing"]

[lints]
workspace = true
