[package]
name = "example-axum-http-service"
version = "0.1.0-alpha.0"
edition = "2021"
rust-version = "1.75.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
opentelemetry_instrumentation_tower = { path = "../../", package = "opentelemetry-instrumentation-tower", features = ["axum"], default-features = false }
axum = { features = ["http1", "tokio"], version = "0.8", default-features = false }
bytes = { version = "1", default-features = false }
opentelemetry = { workspace = true}
opentelemetry_sdk = { workspace = true, default-features = false }
opentelemetry-otlp = { version = "0.31.0", features = ["grpc-tonic", "metrics"], default-features = false }
tokio = { version = "1", features = ["rt-multi-thread"], default-features = false }
rand_09 = { package = "rand", version = "0.9" }

[lints]
workspace = true