[package]
name = "opentelemetry-user-events-metrics"
version = "0.7.0"
description = "OpenTelemetry metrics exporter to user events"
homepage = "https://github.com/open-telemetry/opentelemetry-rust-contrib/tree/main/opentelemetry-user-events-metrics"
repository = "https://github.com/open-telemetry/opentelemetry-rust-contrib/tree/main/opentelemetry-user-events-metrics"
readme = "README.md"
keywords = ["opentelemetry", "metrics", "user-events"]
license = "Apache-2.0"
edition = "2021"
rust-version = "1.71.1"

[dependencies]
opentelemetry = { version = "0.27", features = ["metrics"] }
opentelemetry_sdk = { version = "0.27", features = ["metrics", "rt-tokio"] }
opentelemetry-proto = { version = "0.27", features = ["gen-tonic", "metrics"] }
eventheader = { version = "= 0.4.0" }
async-trait = "0.1"
prost = "0.13"

[dev-dependencies]
tokio = { version = "1.0", features = ["full"] }
