[package]
name = "geneva-uploader"
version = "0.1.0"
edition = "2021"
license = "Apache-2.0"
rust-version = "1.75.0"

[dependencies]
opentelemetry-proto = {workspace = true, default-features = false, features = ["logs", "gen-tonic-messages"]}
base64 = "0.22"
serde = { version = "1.0", features = ["derive"] }
serde_json = { version = "1.0", features = ["raw_value"] }
uuid = { version = "1.0", features = ["v4"] }
# TODO - support both native-tls and rustls
reqwest = { version = "0.12", features = ["native-tls", "native-tls-alpn"]}
native-tls = "0.2" 
thiserror = "2.0"
chrono = "0.4"
url = "2.2"
md5 = "0.8.0"
hex = "0.4"
lz4_flex = { version = "0.11", features = ["safe-encode"], default-features = false }
futures = "0.3"

[features]
self_signed_certs = [] # Empty by default for security
mock_auth = [] # Disabled by default. Not to be enabled in the prod release. 
default = ["self_signed_certs"] # TODO - remove this feature before release

[dev-dependencies]
tokio = { version = "1", features = ["full"] }
rcgen = "0.14"
openssl = { version = "0.10", features = ["vendored"] }
tempfile = "3.5"
wiremock = "0.6"
futures = "0.3"
num_cpus = "1.16"
lz4_flex = { version = "0.11" }
criterion = {version = "0.6"}
rand = {version = "0.9"}

[lints]
workspace = true
